img {
    display: block;
    width: 100%;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.tag {
    background-color: $red;
    color: #fff;
    font-family: $roboto;
    text-decoration: none;
}

.date {
    font-family: $roboto;
    font-style: italic;
    text-decoration: none;
}
