.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 55px;
    align-items: center;
    a {
        color: rgba(0, 0, 0, 0.75);
        text-decoration: none;
        font-family: $roboto;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 8px;
        &:hover {
            color: $red;
        }
    }
    li:first-child a {
        color: $red;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.search {
    justify-self: end;
    i {
        cursor: pointer;
    }
}