.slider {
    display: flex;
    article {
        width: calc(100%/3);
        height: 580px;
        &:nth-of-type(1) {
            background: url(../../img/bg-img/3.jpg) center/cover;
        }
        &:nth-of-type(2) {
            background: url(../../img/bg-img/2.jpg) center/cover;
        }
        &:nth-of-type(3) {
            background: url(../../img/bg-img/1.jpg) center/cover;
        }
    }
}