.slider {
    display: flex;
    article {
        width: calc(100%/3);
        height: 580px;
        position: relative;
        z-index: 0;
        .wrapper {
            margin: 3rem 4rem;
        }
        &:nth-of-type(1) {
            background: url(../../img/bg-img/3.jpg) center/cover;
        }
        &:nth-of-type(2) {
            background: url(../../img/bg-img/2.jpg) center/cover;
        }
        &:nth-of-type(3) {
            background: url(../../img/bg-img/1.jpg) center/cover;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
    .tag {
        padding: 2px 5px;
        font-size: 12px;
        font-weight: 500;
    }
    h3 {
        color: #fff;
        font-size: 36px;
        margin: 15px 0;
        font-family: $ptserif;
        font-weight: 500;
    }
    .date {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
}