.politics {
    h1 {
        font-size: 48px;
        margin: 15px 0;
        font-weight: 400;
    }
    .date {
        font-size: 18px;
    }
    img {
        margin: 50px 0;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
}

.social a {
    padding: 0 10px;
    color: $gray;
}

.white-bg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap;
    .wrapper {
        grid-column: 1/4;
    }
}

.today {
    margin-top: 100px;
    h3 {
        font-size: 30px;
        font-weight: 400;
    }
    p {
        font-size: 14px;
        line-height: 2;
    }
}

.today article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $gap;
    margin-top: 50px;
}

.videos {
    display: grid;
    grid-template-columns: calc(100%/3 - 4rem/3) auto auto calc(100%/3 - 4rem/3);
    gap: $gap;
}

.gray-bg {
    background-color: #f6f6f6;
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap;
    }  
}

.dark-bg {
    background-color: #1d1d1d;
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap;
    }
}